
<div class="row stats">
  <div class="col-xs-12 col-sm-4 stat">
    <div class="card">
      <div class="card-content">
        <h4><%= @jobs.count %></h4>
        <span class="text-muted">Jobs pendentes</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 stat">
    <div class="card">
      <div class="card-content">
        <h4><%= @published_jobs %></h4>
        <span class="text-muted">Jobs aprovados</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 stat">
    <div class="card">
      <div class="card-content">
        <h4><%= @startups %></h4>
        <span class="text-muted">Startups cadastradas</span>
      </div>
    </div>
  </div>
</div>


<h2 class="sub-header">Aguardando aprovação</h2>

<div class="card">
  <div class="card-content card-content--editor">
    <div class="table-responsive">
      <% if @jobs.empty? %>
      <div class="text-center empty">
        <%= fa_icon('smile-o 4x') %>
        <h3>Nenhum job para aprovar!</h3>
      </div>

      <% else %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Startup</th>
              <th>Vaga</th>
              <th>Categoria</th>
              <th>Regime de contratação</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
              <%= render 'job', job: job %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
