<p>
  Titulo da vaga:
  <strong><%= @job.title %></strong><br/>
  Startup:
  <strong><%= @job.company.title %></strong><br/>
  Categoria:
  <strong><%= @job.category.title %></strong><br/>
  Tipo de job:
  <strong><%= @job.job_type.title %></strong><br>
  <% if @job.salary.present? %>
  Salário:
  <strong><%= @job.salary %></strong>
  <% end %>
</p>

<p>
  <strong>Descrição:</strong>
</p>

<%= @job.description.html_safe %>
<hr>

<p>Confira a vaga completa
  <%= link_to 'clicando aqui', job_url(@job) %></p>
