<h2>Não encontramos nenhuma vaga para para "<%= @query %>"</h2>
<h4>Se preferir, temos algumas sugestões de busca:</h4>
<ul class="search-sugestions">
  <li class="search-sugestions__li">
    <a href="<%= root_url %>?query[q]=Photoshop" class="search-sugestions__li__link">Photoshop</a>
  </li>
  <li>
    <a href="<%= root_url %>?query[q]=Desenvolvedor" class="search-sugestions__li__link">Desenvolvedor</a>
  </li>
  <li>
    <a href="<%= root_url %>?query[q]=Savassi" class="search-sugestions__li__link">Savassi</a>
  </li>
  <li>
    <a href="<%= root_url %>?query[q]=Estágio" class="search-sugestions__li__link">Estágio</a>
  </li>
</ul>
