<div class="job row">
  <div class="job__icon col-md-1 col-sm-1 hidden-xs">
    <div class="job__icon__holder job__icon__holder--<%= job.category.slug %>">
      <%= icon_by_category(job.category.title) %>
    </div>
  </div>
  <div class="job__body col-md-9 col-sm-9">
    <div class="job__body__title">
      <h2><%= link_to job.title, company_job_path(job.company, job) %></h2>
    </div>
    <div class="clearfix"></div>
    <div class="job__body__footer">
      <span class="job__body__footer__tag">
        <%= job.category.title %>,
      </span>
      <span class="job__body__footer__tag">
        <%= job.job_type.title %>
      </span> na
      <span class="job__body__footer__tag">
        <%= link_to job.company.title, company_path(job.company) %>
      </span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="job__meta">
      <%= fa_icon 'calendar', text: relative_date(job.updated_at) %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
