<div class="section-job__info">
  <div class="well">
    <p>
      <h4>
        <%= link_to fa_icon('building', text: @job.company.title), company_path(@job.company), class: 'section-job__info__title' %>
      </h4>
    </p>
    <hr>
    <ul class="section-job__info__ul">
      <li class="section-job__info__ul__li">
        <strong>Área de atuação</strong><br/>
        <%= @job.category.title %>
      </li>
      <li class="section-job__info__ul__li">
        <strong>Regime de contratação</strong><br>
        <%= @job.job_type.title %>
      </li>

      <% if @job.salary.present? %>
      <li class="section-job__info__ul__li">
        <strong>Localização</strong><br>
        <%= @job.location %>
      </li>
      <% end %>

      <% if @job.salary.present? %>
      <li class="section-job__info__ul__li">
        <strong>Salário</strong><br>
        <%= @job.salary %>
      </li>
      <% end %>
    </ul>

    <% if @job.link.present? %>
      <hr>
      <%= link_to 'Candidatar', @job.link, target: '_blank', class: 'btn section-job__info__link' %>
    <% elsif @job.how_to_apply.present? %>
      <hr>
      <strong>Como se inscrever</strong>
      <p><%= @job.how_to_apply.html_safe %></p>
    <% end %>
  </div>
</div>
