<% content_for(:title, "#{@job.title} - #{@job.company.title}") %>

<div class="section-colored-top <%= 'section-colored-top--higher' if @job.pending? %>">

  <% if @job.pending? %>
    <%= render 'review_bar', job: @job %>
  <% end %>

  <div class="container">
    <div class="section-job__header <%= @job.status %>">
      <h1 class="section-job__header__title">
        <%= icon_by_category(@job.category.title, '1x') %>
        <%= @job.title %>
      </h1>
      <h5 class="section-job__header__subtitle">
        Postado a
        <%= relative_date(@job.updated_at) %>
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col-sm-8">
          <div class="section-job__description">
            <h2>Descrição da vaga</h2>
            <%= sanitize @job.description, :tags => %w(strong a i p br ul li div) %>
          </div>
        </div>
        <div class="col-sm-4">
          <%= render 'job_info' %>

          <% if can? :manage, Job %>
            <%= render 'job_actions' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
