<tr>
  <td><%= link_to job.title, job_path(job) %></td>
  <td><%= job.company.title %></td>
  <td><%= job.category.title %></td>
  <td><%= job.job_type.title %></td>
  <td>
    <%= link_to 'Aprovar', approve_job_path(job, job.token), class: 'link-accent' %> |
    <%= link_to 'Reprovar', reprove_job_path(job, job.token), class: 'link-accent' %>
  </td>
</tr>
