  <!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= content_for?(:title) ? "#{yield(:title)} - " : "" %>San Pedro Valley Jobs</title>
      <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "San Pedro Valley Jobs" %>">
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body class="<%= curr_page %>">
      <%= render 'layouts/navigation' %>
     	<%= yield %>
      <footer class="footer">
        <div class="container">
          <p class="text-muted pull-left">© 2016 San Pedro Valley Jobs </p>

          <p class="text-muted pull-right">Fork me on <a href="https://github.com/hugodias/san-pedro-valley-jobs" class="link-accent" target="_blank">Github</a>!</p>
          <div class="clearfix"></div>
        </div>
      </footer>
    </body>
  </html>
